<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
 "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team_stupid.mapper.ShopMapper">
	 <select id="getShopListByCategory" resultType="ShopInfoVO">
		SELECT * FROM SHOP_INFO WHERE SHOP_CATEGORY = #{category} ORDER BY SHOP_SERIALNUM
	</select>
	
	<select id="getShopInfoDetail" resultType="ShopInfoVO">
		SELECT * FROM SHOP_INFO WHERE SHOP_SERIALNUM = #{serialNum}
	</select>
	
	<select id="getShopInfoBySearchKeyword" resultType="ShopInfoVO">
		SELECT * FROM SHOP_INFO WHERE SHOP_NAME LIKE CONCAT('%', #{keyword}, '%')
	</select>
	
	<select id="getShopEvent" resultType="ShopEventVO">
		SELECT * FROM SHOP_EVENT
		WHERE SHOP_EVENT_SHOP_SERIALNUM = #{serialNum};
	</select>
</mapper>