<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
 "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team_stupid.mapper.ShopMapper">
	 <select id="getShopInfoList" resultType="ShopInfoVO">
		SELECT * FROM SHOP_INFO order by SHOP_SERIALNUM DESC
	</select>
</mapper>